---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Stub from "../../components/Stub.astro";
import { getCollection } from "astro:content";

// TODO: Add projects collection

export async function getStaticPaths(): Promise<any[]> {
  const articlesCollection = await getCollection("articles");
  const uniqueTags = [
    ...new Set(articlesCollection.map((article) => article.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredArticles = articlesCollection.filter((article) =>
      article.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { articles: filteredArticles },
    };
  });
}

const { tag } = Astro.params;
const { articles } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <div class="flex items-center">
    <h2
      class="text-2xl text-light-textMuted dark:text-dark-textMuted bg-light-accent dark:bg-dark-accent rounded-md px-2 py-1">
      #{tag}
    </h2>
    <a
      href="/tags"
      class="ml-auto"
      >View All Tags</a
    >
  </div>
  <div class="flex flex-col gap-8 mt-8">
    {
      articles.map((article: any) => (
        <Stub
          slug={`/articles/${article.slug}`}
          title={article.data.title}
          pubDate={article.data.pubDate}
          author={article.data.author}
          description={article.data.description}
          tags={article.data.tags}
          img={article.data.image}
        />
      ))
    }
  </div>
</BaseLayout>
