---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stub from "../components/Stub.astro";
import { getCollection } from "astro:content";

const articlesCollection = await getCollection("articles");

// TODO: Add pagination as more is written
---

<BaseLayout pageTitle="Articles">
  <div class="flex flex-col gap-8">
    {
      articlesCollection.map((article) => (
        <Stub
          slug={`/articles/${article.slug}`}
          title={article.data.title}
          pubDate={article.data.pubDate}
          author={article.data.author}
          description={article.data.description}
          tags={article.data.tags}
          img={article.data.image}
        />
      ))
    }
  </div>
</BaseLayout>
