---
import type { CollectionEntry } from "astro:content";
import { twMerge } from "tailwind-merge";
import { Picture } from "astro-imagetools/components";

export interface Props {
  article: CollectionEntry<"articles">;
  classes?: string;
  clampDescriptionTo?: number;
}

const {
  article,
  classes = "",
  clampDescriptionTo = 180,
} = Astro.props as Props;
const { remarkPluginFrontmatter } = await article.render();
const dateObj = new Date(article.data.pubDate);
const formattedDate = dateObj.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const formattedShortDate = dateObj.toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

const formattedDescription =
  article.data.description !== undefined
    ? article.data.description.length > clampDescriptionTo
      ? `${article.data.description.slice(0, clampDescriptionTo - 1)}\u2026`
      : article.data.description
    : null;

const stubClasses = twMerge(
  "styled-link",
  "block relative p-[18px] md:p-5 top-0 transition-all duration-300 ease-out cursor-pointer will-change-transform",
  "bg-transparent",
  "border-2 rounded-md",
  "hover:shadow-lg hover:-top-[2px]",
  "border-light-accent hover:bg-light-accent/25 hover:shadow-light-link/20",
  "dark:border-dark-accent dark:hover:bg-dark-accent/25 dark:hover:shadow-dark-link/20",
  classes
);

// TODO: ⏬ Add some special styling for projects, maybe for articles too. Maybe a ghosted background image of some kind?
---

<a
  class={stubClasses}
  href=`/articles/${article.slug}`>
  <div class="flex flex-col md:flex-row items-center md:items-start gap-5">
    {
      article.data.image && (
        <div class="rounded-md overflow-hidden w-64 md:w-72 h-[134px] md:h-[150px] flex-shrink-0">
          <Picture
            src={article.data.image.src}
            alt={article.data.image.alt}
            width={288}
            height={150}
            loading="lazy"
          />
        </div>
      )
    }
    <div
      class="prose prose-slate dark:prose-invert h-52 md:h-[180px] lg:h-[150px] overflow-hidden">
      <div
        class="text-light-textMuted dark:text-dark-textMuted dark-transition text-xs flex items-center gap-2 not-prose">
        <span class="hidden md:inline">{formattedDate}</span>
        <span class="md:hidden">{formattedShortDate}</span>
        <span>|</span>
        <span>{article.data.author}</span>
      </div>
      <h2
        class="text-xl mt-1 mb-2 text-light-link dark:text-dark-link dark-transition">
        {article.data.title}
      </h2>
      <p class="text-sm leading-relaxed !mb-0">
        {formattedDescription}
      </p>
      <small
        class="not-prose text-xs text-light-textMuted dark:text-dark-textMuted dark-transition"
        >{remarkPluginFrontmatter.readingTime}</small
      >
    </div>
  </div>
  <div class="flex items-center justify-end mt-3 gap-2">
    {
      article.data.tags.map((tag) => (
        <span class="text-xs text-light-text dark:text-dark-text dark-transition bg-light-accent dark:bg-dark-accent rounded-md px-2 py-1">
          #{tag}
        </span>
      ))
    }
  </div>
</a>
