---
import type { CollectionEntry } from "astro:content";
import { Picture } from "astro-imagetools/components";
import BaseLayout from "./BaseLayout.astro";
import NavLink from "@/components/NavLink.astro";
import SocialShareButton from "@/components/SocialShareButton.astro";
import SocialShareDialog from "@/components/SocialShareDialog.astro";

export interface Props {
  article: CollectionEntry<"articles">;
}

const { article } = Astro.props as Props;
const { remarkPluginFrontmatter } = await article.render();
const dateObj = new Date(article.data.pubDate);
const formattedDateLong = dateObj.toLocaleDateString("en-US", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});
const formattedDateShort = dateObj.toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

// TODO: [LOW] Add Author Blurb
// TODO: [LOW] Add Related Posts
---

<BaseLayout pageTitle={article.data.title}>
  <div
    class="prose prose-slate mx-auto dark:prose-invert my-5 prose-sm sm:prose-base lg:prose-lg dark-transition flex flex-wrap justify-between">
    <div
      class="not-prose text-light-textMuted dark:text-dark-textMuted dark-transition text-xs mb-2 flex items-center gap-2 w-full justify-center">
      <span class="hidden md:inline">{formattedDateLong}</span>
      <span class="md:hidden">{formattedDateShort}</span>
      <div class="block w-[1px] bg-light-textMuted dark:bg-dark-textMuted h-5">
      </div>
      <span>{remarkPluginFrontmatter.readingTime}</span>
      <div class="block w-[1px] bg-light-textMuted dark:bg-dark-textMuted h-5">
      </div>
      <SocialShareButton size="sm" />
    </div>
    <h1 class="!mb-2 text-center w-full">{article.data.title}</h1>
    <div class="flex items-center mb-10 gap-2 w-full justify-center flex-wrap">
      {
        article.data.tags.map((tag: string) => (
          <NavLink
            url={`/tags/${tag}`}
            size="sm"
            classes="not-prose">
            #{tag}
          </NavLink>
        ))
      }
    </div>
    {
      article.data.image && (
        <div class="not-prose rounded-3xl overflow-hidden w-full">
          <Picture
            src={article.data.image.src}
            alt={article.data.image.alt}
            width={1200}
            height={630}
            loading="lazy"
          />
        </div>
      )
    }
    <div class="w-full">
      <slot />
    </div>
  </div>
</BaseLayout>
<SocialShareDialog
  url={`https://onceuponanipsum.dev/articles/${article.slug}`}
  title={article.data.title}
/>
