---
import BaseLayout from "./BaseLayout.astro";
import { Picture } from "astro-imagetools/components";

const { frontmatter } = Astro.props;
const dateObj = new Date(frontmatter.pubDate);
const formattedDate = dateObj.toLocaleDateString("en-US", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});

// TODO: Share Component
---

<BaseLayout pageTitle={frontmatter.title}>
  <div
    class="prose prose-slate mx-auto dark:prose-invert my-5 prose-sm sm:prose-base lg:prose-lg dark-transition">
    <small
      class="not-prose text-light-textMuted dark:text-dark-textMuted dark-transition text-xs mb-2"
      >{formattedDate}</small
    >
    <h1>{frontmatter.title}</h1>
    {
      frontmatter.image && (
        <div class="not-prose">
          <Picture
            src={frontmatter.image?.url}
            alt={frontmatter.image?.alt}
            width={1200}
            height={630}
            loading="lazy"
            attributes={{
              img: {
                class: "rounded-3xl",
              },
            }}
          />
        </div>
      )
    }
    <slot />
  </div>
</BaseLayout>
